@tailwind base;
@tailwind components; 
@tailwind utilities;



@layer components {
  
  .loginlink {
    @apply
    hover:text-[#a5a5a5]
  }

  .registerlink {
    @apply
    hover:text-[#a5a5a5]
  }
  
  .link {
    @apply
    text-white
    cursor-pointer
    text-lg
    font-semibold
    hover:text-[#38ac38]
    transition-all
    duration-200
    ease-in-out
  }

  .button {
    @apply
    bg-[#38ac38]
    text-white
    cursor-pointer
    rounded-full
    px-6
    py-2
    font-semibold
    hover:bg-white
    hover:text-[#38ac38]
    transition-all
    duration-200
    ease-in-out
  }

};

